In [1]:
import warnings
# 不要な警告文非表示
warnings.filterwarnings("ignore")
from pycaret.classification import *
import pandas as pd

In [2]:
a=list((range(0,780)))
a=[str(a[i]) for i in range(0,780)]

In [7]:
train_path4="G:\\identification\\Data\\feature\\gbdt12"

In [8]:
#train data
df_label=pd.read_csv(train_path4+"/label.csv",header=None)

df_x3=pd.read_csv(train_path4+"/backborn.csv",header=None)
df_x3=df_x3.drop([70,69,68], axis=1)

df_x6=pd.read_csv(train_path4+"/KOSI.csv",header=None)
df_x7=pd.read_csv(train_path4+"/SIRI.csv",header=None)

df_x8=pd.read_csv(train_path4+"/MIGI.csv",header=None)
df_x9=pd.read_csv(train_path4+"/HIDARI.csv",header=None)

df_x10=pd.read_csv(train_path4+"/MEAN_H.csv",header=None)
df_x11=pd.read_csv(train_path4+"/MEAN_V.csv",header=None)

df_x14=pd.read_csv(train_path4+"/MED_H.csv",header=None)
df_x15=pd.read_csv(train_path4+"/MED_V.csv",header=None)

df_x16=pd.read_csv(train_path4+"/VAR_H.csv",header=None)
df_x17=pd.read_csv(train_path4+"/VAR_V.csv",header=None)

df_x18=pd.read_csv(train_path4+"/volume.csv",header=None)

train_df = pd.concat([df_x3,df_x6,df_x7,df_x8,df_x9,df_x10,df_x11,df_x14,df_x15,df_x16,df_x17,df_x18], axis=1)
df=pd.concat([train_df, df_label.T[0]],axis=1)
df=df.set_axis(a, axis=1)

In [26]:
exp1 = setup(df,numeric_features=a[0:-2],fold=5, train_size=0.8,target ="779")

In [27]:
compare_models(include=["lr","knn","nb","dt","svm","rbfsvm","ridge","rf","qda","lda","et","lightgbm"])

ExtraTreesClassifier(bootstrap=False, ccp_alpha=0.0, class_weight=None,
                     criterion='gini', max_depth=None, max_features='auto',
                     max_leaf_nodes=None, max_samples=None,
                     min_impurity_decrease=0.0, min_impurity_split=None,
                     min_samples_leaf=1, min_samples_split=2,
                     min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
                     oob_score=False, random_state=7982, verbose=0,
                     warm_start=False)

In [20]:
model = create_model('et')

In [21]:
tuned_model = tune_model(model, optimize = 'Accuracy')

In [18]:
model2=create_model("lightgbm")

In [19]:
tuned_model=tune_model(model2,optimize="Accuracy")

In [9]:
evaluate_model(tuned_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…